svg {
    background-color: #1338be;
      border-radius: 5%;
        padding: 5px
    }
    
    #title {
      fill: white
    }
    
    g {
      color: white
    }
    
    .bar {
      fill: white
    }
    
    .bar:hover {
      opacity: 0
    }
    #title {
      font-size: 40px
    }
    
    body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 510px;
      width: 100vw;
      gap: 5px;
    }
    
    #tooltip {
    color: white;
      background-color: navy;
      padding: 5px;
      border-radius: 5%;
      border: 5px solid #016064;
      white-space: pre-wrap
    
      
    }

    @media screen and (max-width:800px) {
      body{
        transform: scale(0.9);
      }
    }
        @media screen and (max-width:710px) {
          body {
            transform: scale(0.8);
          }
        }
 @media screen and (max-width:640px) {
   body {
     transform: scale(0.7);
   }
 }
 @media screen and (max-width:560px) {
   body {
     transform: scale(0.6);
   }
 }

 @media screen and (max-width:480px) {
   body {
     transform: scale(0.5);
   }
 }

 @media screen and (max-width:400px) {
   body {
     transform: scale(0.4);
   }
 }

 @media screen and (max-width:320px) {
   body {
     transform: scale(0.3);
   }
 }
    